<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Products</h1>
</div>

<table>
  <thead>
    <tr>
      <th class="col-md-3">Name</th>
      <th class="col-md-3">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= link_to 'Nuevo producto', new_product_path %>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="col-md-3"><%= product.name %></td>
        <td class="col-md-3"><%= product.price %></td>
        <td class="col-md-3"><%= link_to 'Ver', product %></td>
        <td class="col-md-3"><%= link_to 'Editar', edit_product_path(product) %></td>
        <td class="col-md-3"><%= link_to 'Borrar', product, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
